@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat";
  overflow-y: hidden;
}

#background img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#page1 {
  background-color: rgba(6, 0, 13, 0.902);
  height: 100vh;
  width: 100%;
}

.qr-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  top: 5%;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.title-des {
  font-size: 2rem;
  font-weight: bold;
}

.qr-detail {
  font-size: 2rem;
  font-weight: bold;
}

#video {
  margin-top: 50px;
  width: 500px;
  border: 3px solid blueviolet;
}

#captureButton {
  width: 130px;
  margin: 30px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: rgb(76, 12, 135);
  border-radius: 25px;
  border: none;
  transition: 0.5s;
  color: white;
}

#captureButton:hover {
  cursor: pointer;
  background-color: blueviolet;
}
